/* La même page CSS est commune à toutes les pages du site */

body
{
	background-image : url("../images/bje.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Times New Roman', Times, serif;
}

#contacts
{
	background-image : url("../images/contactsfond.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	font-family: Arial;
}

.logo{
	position: relative;
	color: #fff;
	font-size: 35px; /*taille du texte*/
	margin-top: 30px;
	margin-left: 4%;
	float: left;
}
/* DEBUT DE LA GESTION DU MENU HORIZONTAL */
.menu{
	position: relative;
	width: 100%; /*prend 100% de l'espace horizontal*/
}
.menu ul{
	list-style: none; /*suprime les puces avant le texte*/
	margin-left: 25%; /*espacement sur la gauche*/
}

.menu ul li{
	display: inline-block;
	margin-top: 30px; /*espacement par rapport au haut de page*/
	margin-left: 2%; /*espacement sur la gauche*/
	padding: 0 40px;
}

.menu ul li a{
	text-decoration: none; /*suprime le soulignage*/
	color: #000080;
	letter-spacing: 2px; /*espacement entre caractères*/
	font-size: 20px;
}

.menu ul li a:hover{
	border-bottom: 2px solid #fff;
	border-radius: 1px 1px 1px 1px;
	color:  #000080;
	border-bottom: 2px solid  #ffd11a;
	border-radius: 1px 1px 1px 1px;
	transition: 0.2s; 
}

.menu ul li.active a{ /*effets sur le boutton de la page active*/
	border-bottom: 2px solid  #ffd11a;
	border-radius: 1px 1px 1px 1px;
	text-shadow: 0px 0px 15px #ffff00;
	color:  #000080;
}
/* FIN DE LA GESTION DU MENU HORIZONTAL */
#debut {
        text-align: center;
}

.blocType1 {
    background-color: rgba(9, 34, 14, 0.5);
	border-radius: 60px;
	box-shadow: 8px 8px 12px #191970;
	text-align: center;
} 
/* pour centrer une table */
.table1 {
	border:none;
	margin-left: auto;
    margin-right: auto; 
}


a:link { 
	color: black;
} 

a:visited {
	color: forestgreen;
}

a:hover {
	color: #96cbcf;
}

/* pour centrer une image */
IMG.centre { 
    display: block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 30px;
	box-shadow: 8px 8px 12px #191970;}

.grand {
    color: #000;
    font-size: 100px;
	text-align: center;}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 50px;
  max-width: 1200px;
  margin: auto;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 8px 8px 12px #191970;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.grid-item:hover img {
  transform: scale(1.10);
}

.caption {
  position: absolute;
  width: 100%;
  padding: 15px 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centrer{
  text-align:center	
}



.form-row {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.form-row label {
	width: 100px;
	text-align: right;
	margin-right: 10px;
	font-weight: bold;
  }

.champ-large {
	width: 200px;
	height: 40px;
	font-size: 16px;
	padding: 8px;
	border-radius: 8px;
	border: 1px solid #333;
	box-shadow: 8px 8px 12px #191970;

}

.inscription {
	text-align: center;
	margin-top: 20px;
  }


.résaux{
	position: right;

}

.main-title {
	font-family: 'Cinzel', serif;
	font-size: 3rem;
	letter-spacing: 0.15em;
	text-align: center;
	color: #111; /* Ou #333 pour plus doux */
  }
  
  .chess-icon {
	font-size: 1em;
	color: #bfa46f; /* Doré subtil */
	margin: 0 0.1em;
  }


	
	
		
    
	




